.Historia p {
    font-size: 12px;
}

.Personas {
    display: flex;
    justify-content: space-between;
}

.Persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.Persona img {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Persona h5 {
    font-size: 14px;
    margin-top: 5px;
}

.Persona h6 {
    font-size: 11px;
    font-style: italic;
}

.Persona p {
    font-size: 10px;
    color: #666;
}
